body {
    min-height: 100vh;
    background-color: #AEBD38 !important;

}

.container-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #99d87a !important;
    width: 100%;
   
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 12px;
}

.quizcard {
width: 30rem;
}

.quiz-answer-card:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.05);
}


.d-none {
    display: none;
}

.card-body-endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img-endscreen {
height: 150px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-fluid {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 120px;
}

.navbar-brand:hover {
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
        cursor: pointer;
    }

    .navbar {
        background-color:#598234;
        color:white;
        border-left: 1px solid grey;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .startbtn:hover {
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
        cursor: pointer;
    }


    @media (max-width:700px) {
        .quizcard {
            width: 21rem;
        }
        nav {
            display: none !important;
        }
        .card-body {
            width: 17rem;
        }
        .card-img-top {
            height: 8rem;
        }
        .card {
            height: 33rem;
        }
    }